.btn {
    display: inline-block;
    align-items: center;
    padding: 12px 97px;
    background-color: #000;
    border-radius: 50px;
    text-align: center;
    text-decoration: none;
    color: white;
    font-size: 18px;
    line-height: 22px;
    appearance: none;
    cursor: pointer;
}